body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    background-color: black;
}
h1 {
    text-align: center;
}

button {

    padding: 0;
border: none;
background: none;
}

a {
    color: white;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

a:hover {
    background-color:  #10127e;
}